@model IEnumerable<Web_TracNghiem_HTSV.Models.Test>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<h1 class="text-4xl font-bold mb-8 text-center text-blue-600">Bài kiểm tra</h1>
@if (User.IsInRole("Administrators"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestName)
            </th>

            <th>Actions</th>

            @if (User.IsInRole("Administrators"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.IsLocked)
                </th>
                <th>Lock/Unlock</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (User.IsInRole("Administrators") || (!item.IsLocked && User.IsInRole("Users")))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TestName)
                    </td>

                    <td>
                        @if (User.IsInRole("Administrators"))
                        {
                            if (!item.IsLocked)
                            {
                                <a asp-action="Edit" asp-route-id="@item.TestId" class="btn btn-info">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.TestId" class="btn btn-info">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.TestId" class="btn btn-danger">Delete</a>
                            }
                        }
                        else if (User.IsInRole("Users"))
                        {
                            @if (!item.IsLocked)
                            {
                                <a asp-action="TestDetails" asp-route-id="@item.TestId" class="btn btn-success">Start Test</a>
                                <a asp-action="ResultOfTest" asp-route-id="@item.TestId" class="btn btn-primary">Result</a>
                            }
                        }
                    </td>
                    @if (User.IsInRole("Administrators"))
                    {
                    <td>
                        @item.IsLocked
                    </td>
                    <td>

                            @if (item.IsLocked)
                            {
                                <form asp-action="UnlockTest" asp-route-id="@item.TestId" method="post">
                                    <button type="submit" class="btn btn-primary">Unlock</button>
                                </form>
                            }
                            else
                            {
                                <form asp-action="LockTest" asp-route-id="@item.TestId" method="post">
                                    <button type="submit" class="btn btn-danger">Lock</button>
                                </form>
                            }

                    </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
