@page
@model LoginModel

@* <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> *@

<div class="mt-10">

    <div class="min-h-screen flex items-center justify-center pt-6">
        <div class="bg-white shadow-none rounded-none w-full sm:w-96" style="padding-left: 25px; padding-right: 25px">
            <a href="/Home" class="flex justify-center mb-2">
                <img src="/assets/img/k2e_icon_logo.png" width="90" alt="Logo">
            </a>
            <p class="text-center mb-4 text-gray-600">Hi! I'm Hanh Trinh Sinh Vien Club</p>
            <form id="account" method="post" class="space-y-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <label asp-for="Input.Email" for="exampleInputEmail1" class="block mb-1">Email</label>
                    <input type="email" asp-for="Input.Email" class="form-input w-full rounded-lg border-gray-300 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50" id="exampleInputEmail1" aria-describedby="emailHelp" aria-required="true" required>
                    <span asp-validation-for="Input.Email" class="text-sm text-red-500"></span>
                </div>
                <div>
                    <label asp-for="Input.Password" for="exampleInputPassword1" class="block mb-1">Mật khẩu</label>
                    <input asp-for="Input.Password" type="password" class="form-input w-full rounded-lg border-gray-300 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50" id="exampleInputPassword1" aria-required="true" required>
                    <span asp-validation-for="Input.Password" class="text-sm text-red-500"></span>
                </div>
                <div class="flex items-center justify-between">
                    <div class="flex items-center">
                        <input class="form-checkbox h-4 w-4 text-primary" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="ml-2 text-sm text-gray-600" for="flexCheckChecked">
                            Nhớ mật khẩu
                        </label>
                    </div>
                    <a class="text-primary font-semibold text-sm" id="forgot-password" asp-page="./ForgotPassword">Bạn quên mật khẩu?</a>
                </div>
                <button id="login-submit" type="submit" class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg text-lg w-full">
                    Đăng nhập
                </button>

                <div class="flex items-center justify-center">
                    <a class="text-primary font-semibold ml-2" asp-page="./Register">Đăng kí tài khoản mới</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Login_Register/src/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Login_Register/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}






@* @page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
 *@