@page
@model RegisterModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mt-6">
<div class="min-h-screen flex items-center justify-center">
    <div class="bg-white shadow--none rounded-lg w-full sm:w-96" style="padding-left: 25px; padding-right: 25px">
        <a href="/Home" class="flex justify-center mb-2">
            <img src="/assets/img/k2e_icon_logo.png" width="90" alt="Logo">
        </a>
        <p class="text-center mb-4">Hi! I'm Hanh Trinh Sinh Vien Club</p>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" onsubmit="return validateEmail()" class="">
            <div class="mb-2">
                <label asp-for="Input.Email" for="Input_Email" class="block mb-1">Email</label>
                <input asp-for="Input.Email" type="email" id="Input_Email" class="form-input w-full rounded-lg border-gray-300 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50" aria-describedby="emailHelp" aria-required="true" required>
                <span asp-validation-for="Input.Email" class="text-sm text-red-500"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Input.Password" for="Input_Password" class="block mb-1">Mật khẩu</label>
                <input asp-for="Input.Password" type="password" id="Input_Password" class="form-input w-full rounded-lg border-gray-300 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50" aria-describedby="textHelp" aria-required="true" required>
                <span asp-validation-for="Input.Password" class="text-sm text-red-500"></span>
            </div>
            <div class="mb-4">
                <label asp-for="Input.ConfirmPassword" for="Input_ConfirmPassword" class="block mb-1">Nhập lại mật khẩu</label>
                <input asp-for="Input.ConfirmPassword" type="password" id="Input_ConfirmPassword" class="form-input w-full rounded-lg border-gray-300 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50" aria-required="true" required>
                <span asp-validation-for="Input.ConfirmPassword" class="text-sm text-red-500"></span>
            </div>
            <button id="registerSubmit" type="submit" class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg text-lg w-full">
                Đăng ký
            </button>
            <div class="flex items-center justify-center text-sm mt-4">
                Nếu đã có tài khoản
                <a class="text-primary font-semibold ml-2" href="/Identity/Account/Login">Đăng nhập</a>
            </div>
        </form>
    </div>
</div>
</div>
@section Scripts {
    <script src="~/Login_Register/src/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Login_Register/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}


@* @page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
 *@