@page
@model RegisterModel
@* @{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1> *@


@* 
@section Scripts {
    <script>
        function validateEmail() {
            var emailInput = document.getElementById('Input_Email');
            var emailPattern = /[A-Za-z0-9._%+-]+@@st\.tvu\.edu\.vn/;
            if (!emailPattern.test(emailInput.value)) {
                alert('Vui lòng nhập địa chỉ email đúng định dạng theo email sinh viên (Mssv@@st.tvu.edu.vn)');
                return false; // Ngăn chặn gửi form
            }
            return true; // Cho phép gửi form
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
} *@

<link rel="stylesheet" href="~/Login_Register/src/assets/css/styles.min.css" />

<!--  Body Wrapper -->
<div class="page-wrapper pt-5" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden  min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3" style="width: 500px; margin-top: -180px">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="/Home" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="/assets/img/k2e_icon_logo.png" width="90" style="margin-left: 50%; transform:translateX(-50%)" alt="">
                            </a>
                            <p class="text-center">Hi! I'm Hanh Trinh Sinh Vien Club</p>
                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" onsubmit="return validateEmail()">
                                <div class="mb-3">
                                    <label asp-for="Input.Email" for="exampleInputtext1" class="form-label">Email</label>
                                    <input asp-for="Input.Email" type="email" id="Input_Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" aria-required="true" required>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Input.Password" for="exampleInputEmail1" class="form-label">Mật khẩu</label>
                                    <input asp-for="Input.Password" type="password" class="form-control" id="exampleInputPassword1" aria-describedby="textHelp" aria-required="true" required>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    <label asp-for="Input.ConfirmPassword" for="exampleInputPassword1" class="form-label">Nhập lại mật khẩu</label>
                                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" id="exampleInputPassword1" aria-required="true" required>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button id="registerSubmit" type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Đăng ký</button>
                                <div class="d-flex align-items-center justify-content-center">
                                    Nếu đã có tài khoản
                                    <a class="text-primary fw-bold ms-2" href="/Identity/Account/Login">Đăng nhập</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Login_Register/src/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/Login_Register/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>



@* @page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
 *@